@model PanGainsWebApp.Models.AccountDetails
@{
    ViewData["Title"] = "Accounts";

}

<div class="text-white details">

    <div class="card">
        @if (@Model.Account.ProfilePicture == null)
        {
            <img class="img" src="https://cdn.discordapp.com/attachments/974177010400251905/983041869086871672/unknown.png" alt="Profile Picture">
        }
        else
        {
            <img class="img" src="@Model.Account.ProfilePicture" alt="Profile Picture">
        }
        
        <div class="sub-details">
            <h2>@Model.Account.Firstname @Model.Account.Lastname</h2>
            @if (@Model.Account.Title == null || @Model.Account.Title == "")
            {
                <p class="title">No Title</p>
            }
            else
            {
                <p class="title">@Model.Account.Title</p>
            }
            <p>@Model.Account.Description</p>
            <p>@Model.Account.Email</p>
        </div>
    </div>

    
    

    <p>@Model.Account.AccountID<br>@Model.Account.Firstname @Model.Account.Lastname<br>@Model.Account.Email<br>@Model.Account.Title<br>@Model.Account.Description<br>@Model.Account.Private<br>@Model.Account.Notifications<br>@Model.Account.AverageChallengePos<br>@Model.Account.Type</p>
</div>