@model PanGainsWebApp.Models.Account
@{
    ViewData["Title"] = "Accounts";
}

<div class="text-white edit">
    
    <div class="mb-3">
        <a style="color: white; text-decoration: none; font-weight: bold" asp-area="" asp-controller="Accounts" asp-action="Index">&lt; Back</a>
    </div>

    <div class="row">

        <div class="card card-form">
            
            <h2 class="m-3">Edit Account Info</h2>

            <div class="p-4">
                <form autocomplete="off" class="form" asp-action="Edit" method="post">
                    <input type="hidden" asp-for="AccountID" />
                    <div class="form-group">
                        <label style="align-self: flex-start; font-weight: bold; padding: 10px 0" asp-for="Firstname" ></label>
                        <input style="align-self: flex-start; width: 100%; max-width: 425px; padding: 12px; font-size: 14px; outline: none; border: 1px solid #ddd; border-radius: 4px; background: #f9f9f9;" required asp-for="Firstname" placeholder="Enter firstname" />
                    </div>
                    <div class="form-group">
                        <label style="align-self: flex-start; font-weight: bold; padding: 10px 0" asp-for="Lastname" ></label>
                        <input style="align-self: flex-start; width: 100%; max-width: 425px; padding: 12px; font-size: 14px; outline: none; border: 1px solid #ddd; border-radius: 4px; background: #f9f9f9;" required asp-for="Lastname" placeholder="Enter lastname" />
                    </div>
                    <div class="form-group">
                        <label style="align-self: flex-start; font-weight: bold; padding: 10px 0" asp-for="Email" ></label>
                        <input style="align-self: flex-start; width: 100%; max-width: 425px; padding: 12px; font-size: 14px; outline: none; border: 1px solid #ddd; border-radius: 4px; background: #f9f9f9;" required asp-for="Email" placeholder="Enter email"/>
                    </div>
                    <input type="hidden" asp-for="Password" />
                    <div class="form-group">
                        <label style="align-self: flex-start; font-weight: bold; padding: 10px 0" asp-for="Title" ></label>
                        <input style="align-self: flex-start; width: 100%; max-width: 425px; padding: 12px; font-size: 14px; outline: none; border: 1px solid #ddd; border-radius: 4px; background: #f9f9f9;" asp-for="Title" placeholder="Enter title" />
                    </div>
                    <input type="hidden" asp-for="ProfilePicture" />
                    <div class="form-group">
                        <label style="align-self: flex-start; font-weight: bold; padding: 10px 0" asp-for="Description" ></label>
                        <textarea style="align-self: flex-start; width: 100%; max-width: 425px; padding: 12px; font-size: 14px; outline: none; border: 1px solid #ddd; border-radius: 4px; background: #f9f9f9; resize: none; min-height: 120px" asp-for="Description" placeholder="Enter description" maxlength="500"></textarea>
                    </div>
                    <input type="hidden" asp-for="Private" />
                    <input type="hidden" asp-for="Notifications" />
                    <input type="hidden" asp-for="AverageChallengePos" />
                    <input type="hidden" asp-for="Type" />
                    <input type="hidden" asp-for="Role" />
                    <div class="form-group">
                        <input class="form-btn" type="submit" value="Save Changes" />
                    </div>
                </form>
            </div>
        </div>

        <div class="card card-account">
            <div class="card-left">
                <p>Account ID: @Model.AccountID</p>
                @{
                    if (!Model.Private)
                    {
                        <p class="public">Public</p>
                    }
                    else
                    {
                        <p class="private">Private</p>
                    }

                    if (Model.ProfilePicture == null)
                    {
                        <img class="img" src="/img/account/DefaultProfile.jpg" alt="Profile Picture">
                    }
                    else
                    {
                        <img class="img" src="@Model.ProfilePicture" alt="Profile Picture">
                    }
                }

                <div class="sub-details">
                    <h2 class="mb-3">@Model.Firstname @Model.Lastname</h2>
                
                    @if (Model.Title == null || Model.Title == "")
                    {
                        <p class="title mb-3">No Title</p>
                    }
                    else
                    {
                        <p class="title mb-3">@Model.Title</p>
                    }

                </div>
            </div>
            <div class="line"></div>

            <div class="card-right p-5">
                <p class="make-bold">Email</p>
                <p class="ms-3">@Model.Email</p>
                <p class="make-bold mt-5">Description</p>
                <p class="ms-3">@Model.Description</p>
                <p class="make-bold mt-5">Subscription</p>
                <p class="ms-3">@Model.Type</p>
            </div>
            <div class="notifications">
                @if (Model.Notifications)
                {
                    <i class="fa-solid fa-bell"></i>
                }
                else
                {
                    <i class="fa-regular fa-bell-slash"></i>
                }
            
            </div>
        </div>

    </div>

</div>
