@model PanGainsWebApp.Models.ListModel
@{
    ViewData["Title"] = "Accounts";
}

<div class="table">
    <div class="table_header">
        <p>User Accounts</p>
        <div>
            <form asp-controller="Accounts" asp-action="Index" method="get" autocomplete="off">

                <input style="width: 400px; padding: 10px 20px; margin: 0 10px; outline: none; border: 1px solid white; background-color: white; border-radius: 5px; color: #000000;"
                asp-for="SearchAccount" type="text" placeholder="search by firstname..."/>

                <button type="submit" class="add_new">Search</button>
            </form>
            
        </div>
    </div>
    <div class="table_section">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fullname</th>
                    <th>Email</th>
                    <th>Subscription</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    List<Account> accounts = Model.AccountModel;
                    accounts.Reverse();
                    foreach (var item in accounts)
                    {
                        <tr>
                            <td>@item.AccountID</td>
                            <td>@item.Firstname @item.Lastname</td>
                            <td>@item.Email</td>
                            <td>@item.Type</td>
                            <td>
                                <button class="me-1">
                                    <a style="color: white" asp-action="Details" asp-route-accountID="@item.AccountID">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                </button>
                                <button class="me-1">
                                    <a style="color: white" asp-action="Edit" asp-route-accountID="@item.AccountID">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </button>
                                <button>
                                    <a style="color: white" asp-action="Delete" asp-route-accountID="@item.AccountID">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

    @* AccountID   Firstname   Lastname   Email   Title   Type*@